#btn-1{
    background-color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color:aliceblue;
    font-weight: bold;
    cursor: pointer;
}

#btn-2{
    background-color: rgb(83, 253, 64);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color:rgb(85, 87, 88);
    font-weight: bold;
    cursor: pointer;
}